{% extends 'shared/base.html' %}

{% block content %}
<div class="container mt-4" style="background-color: #4A4063; padding: 20px;">
    <div class="row">
        <!-- Columna de la izquierda para el formulario -->
        <div class="col-md-4">
            <div class="card shadow-sm"style="background-color: #bbbbbb; color: dddddd;">
                <div class="card-header text-center">
                    <h5>Agregar Producto</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-custom w-100">Agregar al Carro</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Columna de la derecha para mostrar el carrito -->
        <div class="col-md-8">
            <div class="card shadow-sm"style="background-color: #bbbbbb; color: dddddd;">
                <div class="card-header">
                    <h5>Lo atiende {{ empleado }}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>Total: ${{ total_compra }}</h4>
                        <div>
                            <form method="POST" action="{% url 'confirmarVenta' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn" style="background-color: #4A4063; color: white;"
                                    {% if carrito|length == 0 %}disabled{% endif %}>
                                    Confirmar Venta
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Producto</th>
                                <th>Precio Unitario</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                {% if rol_id == "1" or rol_id == "2" %}
                                <th>Acción</th>
                                {% endif %}
                                <a href="{% url 'login' %}" class="btn btn-custom"><i class="fa-solid fa-user-shield"></i></a>

                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in carrito %}
                            <tr>
                                <td>{{ producto.codigo }}</td>
                                <td>{{ producto.nombre }}</td>
                                <td>${{ producto.precio_unitario }}</td>
                                <td>{{ producto.cantidad }}</td>
                                <td>${{ producto.subtotal }}</td>
                                {% if rol_id == "1" or rol_id == "2" %}
                                <td>
                                    <form method="POST" action="{% url 'quitarProductoCarrito' producto.codigo %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-deshabilitar btn-sm"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No hay productos en el carrito.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
