{% extends 'shared/base.html' %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Categoria</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Sector</th>
                <th>Disponibilidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>{% if categoria.disponible %}Disponible{% else %}No Disponible{% endif %}</td>
                    <td>
                        <a href=# class="btn btn-primary">accion</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No hay categorias creadas aun.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}