{% extends 'shared/base.html' %}

{% block content %}
<body>
    <div class="container py-5">
        <div class="row">
            <!-- Columna para el formulario (izquierda) -->
            <div class="col-md-6 mb-4">
                <div class="card shadow-lg p-4" style="background-color: #4A4063; color: white; border-radius: 15px;">
                    <h2 class="text-center mb-4">Grafico de ventas Mensuales</h2>
                    <form method="get" action="{% url 'reporteVentas' %}">
                        <div class="mb-4">
                            <label for="mes" class="form-label">Selecciona un mes:</label>
                            <select name="mes" id="mes" class="form-select">
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-custom">
                                Generar Reporte
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Columna para el gráfico (derecha) -->
            <div class="col-md-6 mb-4">
                {% if image_base64 %}
                <div class="text-center">
                    <img src="data:image/png;base64,{{ image_base64 }}" alt="Reporte de ventas" class="img-fluid" style="max-width: 100%;">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
